trigonator.exe
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
trigonator.out
trigonator
include
src/glad.c
output
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
debian_deployment.deb
trigonator.deb
.VSCodeCounter/2025-08-14_22-27-05/details.md
.VSCodeCounter/2025-08-14_22-27-05/diff-details.md
.VSCodeCounter/2025-08-14_22-27-05/diff.csv
.VSCodeCounter/2025-08-14_22-27-05/diff.md
.VSCodeCounter/2025-08-14_22-27-05/diff.txt
.VSCodeCounter/2025-08-14_22-27-05/results.csv
.VSCodeCounter/2025-08-14_22-27-05/results.json
.VSCodeCounter/2025-08-14_22-27-05/results.md
.VSCodeCounter/2025-08-14_22-27-05/results.txt
.VSCodeCounter/2025-08-14_22-28-54/details.md
.VSCodeCounter/2025-08-14_22-28-54/diff-details.md
.VSCodeCounter/2025-08-14_22-28-54/diff.csv
.VSCodeCounter/2025-08-14_22-28-54/diff.md
.VSCodeCounter/2025-08-14_22-28-54/diff.txt
.VSCodeCounter/2025-08-14_22-28-54/results.csv
.VSCodeCounter/2025-08-14_22-28-54/results.json
.VSCodeCounter/2025-08-14_22-28-54/results.md
.VSCodeCounter/2025-08-14_22-28-54/results.txt
