trigonator.exe
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
trigonator.out
trigonator
include
src/glad.c
output
.gitignore
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
debian_deployment.deb
